[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
jenkinsapi = "*"
gitpython = "*"
build = "*"
twine = "*"
python-gitlab = "*"
pytest-xdist = "*"

[requires]
python_version = "3.10"
